{% extends 'CAIDABGPStreamWebHomepageBundle:Default:base.html.twig' %}

{% block slimbody %}
    <div class="page-header">
        <h1>Broker HTTP API</h1>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-push-10">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation"><a href="#meta">Metadata API</a></li>
                <li role="presentation"><a href="#data">Data API</a></li>
                </li>
            </ul>
        </div>
        <div class="col-md-10 col-md-pull-2">

            <p>
                The BGPStream Broker is a web application that provides a
                unified query
                interface to retrieve meta-data about data available from
                different data
                providers. See the
                <a href="{{ path('caida_bgpstream_web_homepage', {'page': 'data'}) }}">
                    data providers
                </a>
                page for up-to-date information about the data held by the
                broker (this page is dynamically generated using the broker
                metadata API described below).
            </p>
            <p>
                CAIDA operates a publicly accessible instance of the
                Broker
                that libBGPStream is configured to query by default:
            </p>

            <table class="table">
                <tr>
                    <td><b>Public Broker URL</b></td>
                    <td><code>https://bgpstream.caida.org/broker</code></td>
                </tr>
            </table>

            <p>
                The Broker provides two query APIs: <b>data</b> and
                <b>metadata</b>. Metadata queries retrieve information about the
                <i>Data Providers</i> and <i>Collectors</i> that the broker
                knows about.
                Data queries on the other hand, retrieve information about data
                files known to the broker.
            </p>

            <p>See the
                <a href="{{ path('caida_bgpstream_web_homepage', {'page': 'pubs'}) }}#bgpstream-tech-rep">
                    BGPStream paper
                </a>
                for more details about how libBGPStream queries the broker.</p>

            <hr>
            <h2 id="meta">Metadata API
                <small><code>/meta</code></small>
            </h2>

            <h3>Data Provider Metadata
                <small><code>/meta/projects/{project}</code></small>
            </h3>

            <h4>URL Parameters:</h4>
            <table class="table">
                <thead>
                <tr>
                    <th class="col-md-2">Parameter</th>
                    <th class="col-md-4">Description</th>
                    <th class="col-md-1">Type</th>
                    <th class="col-md-3">Values</th>
                    <th class="col-md-2">Default</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{project}</td>
                    <td>Optionally filter results to a single project</td>
                    <td>String</td>
                    <td><code>routeviews</code>, <code>ris</code></td>
                    <td><i>all projects</i></td>
                </tr>
                </tbody>
            </table>

            <h4>GET Parameters:</h4>
            <table class="table">
                <thead>
                <tr>
                    <th class="col-md-2">Parameter</th>
                    <th class="col-md-4">Description</th>
                    <th class="col-md-1">Type</th>
                    <th class="col-md-3">Values</th>
                    <th class="col-md-2">Default</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>human</td>
                    <td>Pretty-printed JSON output</td>
                    <td>Boolean</td>
                    <td><i>none</i></td>
                    <td><i>false</i></td>
                </tr>
                </tbody>
            </table>

            <h4>Example Result
                <small><a target="_blank"
                          href="https://bgpstream.caida.org/broker/meta/projects/ris?human">
                        https://bgpstream.caida.org/broker/meta/projects/ris?human
                    </a></small>
            </h4>
            <pre><code
                    class="language-js">{% include '@CAIDABGPStreamWebHomepageBundle/Resources/content/docs/api/broker/code/meta.projects.json' %}</code></pre>

            <h3>Collector Metadata
                <small><code>/meta/collectors/{collector}</code></small>
            </h3>

            <h4>URL Parameters:</h4>
            <table class="table">
                <thead>
                <tr>
                    <th class="col-md-2">Parameter</th>
                    <th class="col-md-4">Description</th>
                    <th class="col-md-1">Type</th>
                    <th class="col-md-3">Values</th>
                    <th class="col-md-2">Default</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{collector}</td>
                    <td>Optionally filter results to a single collector</td>
                    <td>String</td>
                    <td>See
                        <a href="{{ path('caida_bgpstream_web_homepage', {'page': 'data'}) }}">data
                            providers</a></td>
                    <td><i>all collectors</i></td>
                </tr>
                </tbody>
            </table>

            <h4>GET Parameters:</h4>
            <table class="table">
                <thead>
                <tr>
                    <th class="col-md-2">Parameter</th>
                    <th class="col-md-4">Description</th>
                    <th class="col-md-1">Type</th>
                    <th class="col-md-3">Values</th>
                    <th class="col-md-2">Default</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>human</td>
                    <td>Pretty-printed JSON output</td>
                    <td>Boolean</td>
                    <td><i>none</i></td>
                    <td><i>false</i></td>
                </tr>
                </tbody>
            </table>

            <h4>Example Result
                <small><a target="_blank"
                          href="https://bgpstream.caida.org/broker/meta/collectors/route-views2?human">
                        https://bgpstream.caida.org/broker/meta/collectors/route-views2?human
                    </a></small>
            </h4>
    <pre><code
            class="language-js">{% include '@CAIDABGPStreamWebHomepageBundle/Resources/content/docs/api/broker/code/meta.collectors.json' %}</code></pre>


            <hr>
            <h2 id="data">Data API
                <small><code>/data</code></small>
            </h2>

            <h4>GET Parameters:</h4>
            <table class="table">
                <thead>
                <tr>
                    <th class="col-md-2">Parameter</th>
                    <th class="col-md-4">Description</th>
                    <th class="col-md-1">Type</th>
                    <th class="col-md-3">Values</th>
                    <th class="col-md-2">Default</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>collector</td>
                    <td>Collector to retrieve data for</td>
                    <td>String</td>
                    <td>See
                        <a href="{{ path('caida_bgpstream_web_homepage', {'page': 'data'}) }}">data
                            providers</a></td>
                    <td><i>all collectors</i></td>
                </tr>
                <tr>
                    <td>collectors</td>
                    <td>List of collectors to retrieve data for</td>
                    <td>Array</td>
                    <td>See
                        <a href="{{ path('caida_bgpstream_web_homepage', {'page': 'data'}) }}">data
                            providers</a></td>
                    <td><i>all collectors</i></td>
                </tr>
                <tr>
                    <td>project</td>
                    <td>Project to retrieve data for</td>
                    <td>String</td>
                    <td>See
                        <a href="{{ path('caida_bgpstream_web_homepage', {'page': 'data'}) }}">data
                            providers</a></td>
                    <td><i>all projects</i></td>
                </tr>
                <tr>
                    <td>projects</td>
                    <td>List of projects to retrieve data for</td>
                    <td>Array</td>
                    <td>See <a href="{{ path('caida_bgpstream_web_homepage', {'page': 'data'}) }}">data
                            providers</a></td>
                    <td><i>all projects</i></td>
                </tr>
                <tr>
                    <td>intervals</td>
                    <td>List of time intervals</td>
                    <td>Array</td>
                    <td><code>{epoch-start},{epoch-end}</code></td>
                    <td><i>required parameter</i></td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>Data type to retrieve</td>
                    <td>String</td>
                    <td><code>ribs</code>, <code>updates</code></td>
                    <td><i>all types</i></td>
                </tr>
                <tr>
                    <td>types</td>
                    <td>Data types to retrieve</td>
                    <td>Array</td>
                    <td><code>ribs</code>, <code>updates</code></td>
                    <td><i>all types</i></td>
                </tr>
                <tr>
                    <td>minInitialTime</td>
                    <td>Start time of the current window</td>
                    <td>Epoch seconds</td>
                    <td>Should be set to maximum of <i>(initialTime + duration)</i> from previously returned results</td>
                    <td><i>earliest interval start time</i></td>
                </tr>
                <tr>
                    <td>dataAddedSince</td>
                    <td>Last request time</td>
                    <td>Epoch seconds</td>
                    <td>Should be set to the value of the <i>time</i> attribute in the previous result</td>
                    <td><i>none</i></td>
                </tr>
                <tr>
                    <td>human</td>
                    <td>Pretty-printed JSON output</td>
                    <td>Boolean</td>
                    <td><i>none</i></td>
                    <td><i>false</i></td>
                </tr>
                </tbody>
            </table>

            <h4>Example Result<br>
                <small><a target="_blank"
                          href="https://bgpstream.caida.org/broker/data?human&intervals[]=1438819200,1438819200&collectors[]=route-views2&collectors[]=rrc03&types[]=updates">
                        https://bgpstream.caida.org/broker/data?human&intervals[]=1438819200,1438819200&collectors[]=route-views2&collectors[]=rrc03&types[]=updates
                    </a></small>
            </h4>
    <pre><code
            class="language-js">{% include '@CAIDABGPStreamWebHomepageBundle/Resources/content/docs/api/broker/code/data.json' %}</code></pre>

        </div>
    </div>
{% endblock %}
