{% extends 'CAIDABGPStreamWebHomepageBundle:Default:base.html.twig' %}

{% block styleblock %}
    {{ parent() }}
    {% stylesheets
        '@CAIDABGPStreamWebHomepageBundle/Resources/public/css/data.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block jsblock %}
    {{ parent() }}
    {% javascripts
        '@CAIDABGPStreamWebHomepageBundle/Resources/public/js/data.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Data Providers</h1>
    </div>
    <p class="lead">BGPStream provides support for <a href="{{ path('caida_bgpstream_web_homepage_docs', {'page': 'overview', 'subpage': 'data-access'}) }}">local data</a>
        as well as out-of-the-box <a href="{{ path('caida_bgpstream_web_homepage_docs', {'page': 'overview', 'subpage': 'data-access'}) }}#broker">seamless access</a> to the
        following data providers.</p>
    <hr>

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#routeviews" aria-controls="routeviews" role="tab" data-toggle="tab">
                <img class="dp-tab-logo" src="{{ asset('bundles/caidabgpstreamwebhomepage/images/logos/routeviews.png') }}"> Route Views
            </a>
        </li>

        <li role="presentation">
            <a href="#routeviews-stream" aria-controls="routeviews-stream" role="tab" data-toggle="tab">
                <img class="dp-tab-logo" src="{{ asset('bundles/caidabgpstreamwebhomepage/images/logos/routeviews.png') }}"> Route Views Stream
            </a>
        </li>

        <li role="presentation">
            <a href="#ris" aria-controls="ris" role="tab" data-toggle="tab">
                <img class="dp-tab-logo" src="{{ asset('bundles/caidabgpstreamwebhomepage/images/logos/ripe-ncc-logo.png') }}"> RIS
            </a>
        </li>
        <li role="presentation">
            <a href="#ris-live" aria-controls="ris-live" role="tab" data-toggle="tab">
                <img class="dp-tab-logo" src="{{ asset('bundles/caidabgpstreamwebhomepage/images/logos/ripe-ncc-logo.png') }}"> RIS Live
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="routeviews">
            <h2>
                <img class="dp-logo pull-right"
                     src="{{ asset('bundles/caidabgpstreamwebhomepage/images/logos/routeviews.png') }}">
                <a target="_blank" href="http://www.routeviews.org/" title="Route Views">Route Views</a> <small><code>routeviews</code></small>
            </h2>
            <div class="progress progress-striped active">
                <div class="progress-bar" style="width: 100%">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="col-md-2">Collector</th>
                    <th class="col-md-2">Dump Type</th>
                    <th class="col-md-2">Dump Frequency</th>
                    <th class="col-md-3">First Dump</th>
                    <th class="col-md-3">Latest Dump</th>
                </tr>
                </thead>
                <tbody id="rv-tbody">
                </tbody>
            </table>
        </div>

        <div role="tabpanel" class="tab-pane active" id="routeviews-stream">
            <h2>
                <img class="dp-logo pull-right"
                     src="{{ asset('bundles/caidabgpstreamwebhomepage/images/logos/routeviews.png') }}">
                <a target="_blank" href="http://www.routeviews.org/" title="Route Views">Route Views BMP Stream</a> <small><code>routeviews-stream</code></small>
            </h2>
            <div>
                <p> BGPStream provides direct access to Route Views' BMP live stream. </p>
                <p>
                    For more detailed usage of the Route Views BMP stream via BGPStream, please checkout our
                    tutorial on accessing live stream data source <a href="{{ path('caida_bgpstream_web_homepage_docs', {'page': 'tutorials', 'subpage': 'bgpreader'})}}#live-streams">using <code>bgpreader</code></a> and <a href="{{ path('caida_bgpstream_web_homepage_docs', {'page': 'tutorials', 'subpage': 'pybgpstream'})}}#live-streams">using <code>pybgpstream</code></a>.
                </p>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="ris">
            <h2>
                <img class="dp-logo pull-right"
                     src="{{ asset('bundles/caidabgpstreamwebhomepage/images/logos/ripe-ncc-logo.png') }}">
                <a target="_blank" href="https://www.ripe.net/analyse/internet-measurements/routing-information-service-ris" title="RIPE RIS">RIPE Routing Information Service</a> <small><code>ris</code></small>
            </h2>
            <div>
                <p>BGPStream also supports streaming from RIPE RIS-Live realtime BGP data. <a target="_blank" href="{{ path('caida_bgpstream_web_homepage_docs', {'page': 'tutorials', 'subpage': 'bgpreader'})}}#ris-live">Tutorial here.</a></p>
            </div>
            <div class="progress progress-striped active">
                <div class="progress-bar" style="width: 100%">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="col-md-2">Collector</th>
                    <th class="col-md-2">Dump Type</th>
                    <th class="col-md-2">Dump Frequency</th>
                    <th class="col-md-3">First Dump</th>
                    <th class="col-md-3">Latest Dump</th>
                </tr>
                </thead>
                <tbody id="ris-tbody">
                </tbody>
            </table>
        </div>

        <div role="tabpanel" class="tab-pane" id="ris-live">
            <h2>
                <img class="dp-logo pull-right"
                     src="{{ asset('bundles/caidabgpstreamwebhomepage/images/logos/ripe-ncc-logo.png') }}">
                <a target="_blank" href="https://www.ripe.net/analyse/internet-measurements/routing-information-service-ris" title="RIPE RIS">RIPE RIS Live</a> <small><code>ris-live</code></small>
            </h2>
            <div>
                <p>
                    BGPStream provides direct access to RIPE NCC's <a href="https://ris-live.ripe.net/">RIS Live real-time BGP messages feed</a>.
                </p>
                <p>
                    RIS live provides real-time information collected from RIPE RIS Route Collectors (RRCs).
                    BGPStream supports direct access of the data stream and provides the same programming and user interface
                    as well as output format.
                </p>
                <p>
                    For more detailed usage of the RIS Live stream via BGPStream, please check out our
                    tutorial on accessing live stream data sources <a href="{{ path('caida_bgpstream_web_homepage_docs', {'page': 'tutorials', 'subpage': 'bgpreader'})}}#live-streams">using <code>bgpreader</code></a> and <a href="{{ path('caida_bgpstream_web_homepage_docs', {'page': 'tutorials', 'subpage': 'pybgpstream'})}}#live-streams">using <code>pybgpstream</code></a>.
                </p>
            </div>
        </div>

    </div>

{% endblock %}
