{% extends 'CAIDABGPStreamWebHomepageBundle:Default:base.html.twig' %}

{% block styleblock %}
    {{ parent() }}
    {% stylesheets
        '@CAIDABGPStreamWebHomepageBundle/Resources/public/css/home.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>
            <img src="{{ asset('bundles/caidabgpstreamwebhomepage/images/bgpstream-logo-black-blue.png') }}">
        </h1>
        <p class="lead">An open-source software framework for live and historical BGP data analysis, supporting <br class="hidden-xs hidden-sm"> <i>scientific research</i>, <i>operational monitoring</i>, and <i>post-event analysis</i>.</p>

        <p>
            <a class="btn btn-lg btn-success" href="{{ path('caida_bgpstream_web_homepage', {'page': 'download'}) }}" role="button">Get BGPStream</a>
        </p>
        <div  width="50%">
            <div class="success callout small" style="display: inline-block">
                <h5>BGPStream Version 2 is
                    <a href="{{ path('caida_bgpstream_web_homepage', {'page': 'download'}) }}">
                    Available Now!
                    </a>
                </h5>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6 col-md-4">
            <h2>Powerful Tools &amp; APIs</h2>
            <p>
                Quickly inspect raw BGP data from the command-line, develop Python apps, or build complex systems using a C/C++ API, etc.
                Designed to run anywhere, from laptops to clusters.</p>
            <p><a class="btn btn-primary" href="{{ path('caida_bgpstream_web_homepage', {'page': 'components'}) }}" role="button">Learn about the components &raquo;</a></p>
        </div>
        <br class="visible-xs">
        <div class="col-sm-6 col-md-4">
            <h2>Seamless &amp; Live Data Access</h2>

            <p>Give BGPStream a time range and it will automatically acquire and stream the right data to you. Enable realtime monitoring by changing a single parameter.</p>

            <p><a class="btn btn-primary" href="{{ path('caida_bgpstream_web_homepage', {'page': 'data'}) }}" role="button">See available data &raquo;</a></p>
        </div>
        <br class="visible-xs">
        <div class="col-sm-6 col-md-4">
            <h2>Tutorials &amp; Docs</h2>

            <p>Documentation includes software and API reference manuals as well as tutorials with fully-running code samples.</p>

            <p><a class="btn btn-primary" href="{{ path('caida_bgpstream_web_homepage_docs') }}" role="button">Get started &raquo;</a></p>
        </div>
    </div>

{% endblock %}
