{% extends 'CAIDABGPStreamWebHomepageBundle:Default:base.html.twig' %}

{% block styleblock %}
    {{ parent() }}
    {% stylesheets
    '@CAIDABGPStreamWebHomepageBundle/Resources/public/css/news.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block slimbody %}
    <div class="page-header">
        <h1>News</h1>
    </div>
    <hr>
    <div class="news-item">
        <h2>
            <a href="/v2-whats-new">BGPStream 2.0.0 rc2 Released</a>

            <small>Oct 01 2019</small>
        </h2>
        <p>
            This is a major version public release candidate of BGPStream version 2.
        </p>
        <p>
            This the first releases release candidate for BGPStream v2.0. <a href="/v2-whats-new">What's new in v2.0.</a>
        </p>
        <p>
            It is available from the
            <a href="{{ path('caida_bgpstream_web_homepage', {'page': 'download'}) }}">Downloads</a>
            page.
        </p>
    </div>
    <div class="news-item">
        <h2>
            BGPStream 1.2.3 Released
            <small>April 04 2019</small>
        </h2>
        <p>
            This is minor version public release of BGPStream.
            It fixes an issue where BGPStream would crash when parsing MRT records that are larger than 64k.
            See Issue <a href="https://github.com/CAIDA/bgpstream/issues/79">#79</a> for more information.
        </p>
        <p>
            This will be (one of) the final releases in the 1.x series as BGPStream v2.0 is currently in beta testing. If you wish to know more about v2.0 and/or help out with beta testing, please contact <a href="mailto:bgpstream-info@caida.org">bgpstream-info@caida.org</a>.
        </p>
        <p>
          It is available from the
            <a href="{{ path('caida_bgpstream_web_homepage', {'page': 'download'}) }}">Downloads</a>
            page.
        </p>
    </div>
    <hr>
    <div class="news-item">
        <h2>
            BGPStream 1.2.2 Released
            <small>February 13 2019</small>
        </h2>
        <p>
            This is minor version public release of BGPStream.
            It fixes a bug that causes pybgpstream to break when parsing large AS path field of BGP updates.
            See Issue <a href="https://github.com/CAIDA/bgpstream/issues/82">#82</a> for more information.
        </p>
        <p>
            This will be (one of) the final releases in the 1.x series as BGPStream v2.0 is currently in beta testing. If you wish to know more about v2.0 and/or help out with beta testing, please contact <a href="mailto:bgpstream-info@caida.org">bgpstream-info@caida.org</a>.
        </p>
        <p>
          It is available from the
            <a href="{{ path('caida_bgpstream_web_homepage', {'page': 'download'}) }}">Downloads</a>
            page.
        </p>
    </div>
    <hr>
    <div class="news-item">
        <h2>
            BGPStream 1.2.1 Released
            <small>July 31 2018</small>
        </h2>
        <p>
            This is minor version public release of BGPStream. It fixes a bug that causes IPv6 address parsing failures. See Issue <a href="https://github.com/CAIDA/bgpstream/issues/34">#34</a> for more information.
        </p>
        <p>
            This will be (one of) the final releases in the 1.x series as BGPStream v2.0 is currently in beta testing. If you wish to know more about v2.0 and/or help out with beta testing, please contact <a href="mailto:bgpstream-info@caida.org">bgpstream-info@caida.org</a>.
        </p>
        <p>
          It is available from the
            <a href="{{ path('caida_bgpstream_web_homepage', {'page': 'download'}) }}">Downloads</a>
            page.
        </p>
    </div>
    <hr>
    <div class="news-item">
        <h2>
            BGPStream 1.2.0 Released
            <small>May 08 2018</small>
        </h2>
        <p>
            This is the third public release of BGPStream. It focuses on bug fixes and contains several new features. For more information, see the <a href="https://github.com/CAIDA/bgpstream/blob/master/ChangeLog.md">Change Log</a>.
        </p>
        <p>
            This release includes important bug fixes to the libbgpdump library we use internally to parse MRT data. Without these fixes BGPStream would trigger an assertion and crash. See Issue <a href="https://github.com/CAIDA/bgpstream/issues/62">#62</a> for more information.
        </p>
        <p>
            This will be (one of) the final releases in the 1.x series as BGPStream v2.0 is currently in beta testing. If you wish to know more about v2.0 and/or help out with beta testing, please contact <a href="mailto:bgpstream-info@caida.org">bgpstream-info@caida.org</a>.
        </p>
        <p>
          It is available from the
            <a href="{{ path('caida_bgpstream_web_homepage', {'page': 'download'}) }}">Downloads</a>
            page.
        </p>
    </div>
    <hr>
    <div class="news-item">
        <h2>
            New BMP-based Data Provider Added
            <small>January 28 2016</small>
        </h2>
        <p>
            We have added a new (experimental) Data Provider to BGPStream. The CAIDA OpenBMP provider
            is a collaboration with Route Views and Cisco to provide access to a
            low-latency (~1min) stream of BGP measurement data using the OpenBMP
            stack. This data is available for immediate use with existing BGPStream
            installations by using the <code>caida-bmp</code> provider
            (e.g., <code>bgpreader -p caida-bmp -w 1453912260</code>). See the <a
                    href="{{ path('caida_bgpstream_web_homepage', {'page': 'data'}) }}#!caida-bmp">Data Providers</a>
            page for more information about the current peers included.
        </p>
    </div>
    <hr>
    <div class="news-item">
        <h2>
            BGPStream 1.1.0 Released
            <small>January 28 2016</small>
        </h2>
        <p>
            This is the second public release of BGPStream. It contains several new features including native support for communities.
            For more information, see the <a
                    href="https://github.com/CAIDA/bgpstream/blob/master/ChangeLog.md">Change
                Log</a>. It is available from
            the
            <a href="{{ path('caida_bgpstream_web_homepage', {'page': 'download'}) }}">Downloads</a>
            page.
        </p>
    </div>
    <hr>
    <div class="news-item">
        <h2>
            BGPStream 1.0.0 Released
            <small>October 26 2015</small>
        </h2>
        <p>
            This is the first public release of BGPStream.
        </p>
    </div>
    <hr>
{% endblock %}
